{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="{% static 'img/cat_phone.png' %}">
        </div>
        <div class="col-md-10">
            <h1 class="display-4">Quasar</h1>
            <p class="lead">Curiosity made the cat smarter.</p>
            <hr class="my-4">
            <p>Just ask and get experts opinions for free.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Try now | Ask Question</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
            <div class="card shadow rounded">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            {% for question in questions %}
                <div class="card shadow rounded mb-2">
                    <div class="card-body">
                        <h4 class="card-title">{{ question.text }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-circle"></i> {{ question.author }} on {{ question.date_created }}</h6>
                        <a href="{% url 'ques_app:ques_details' pk=question.pk %}" class="card-link">{{ question.answer_set.count }} answer(s)</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="card shadow rounded">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}